<!DOCTYPE html>
<html>
<head>
    
    <!-- start: Meta -->
    <meta charset="UTF-8">
    <title>快递管理系统</title>
    <meta name="description" content="zjyw">
    <meta name="author" content="cdg">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    <!-- start: CSS -->
    <link id="bootstrap-style" href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/css/style-responsive.css" rel="stylesheet">
    <!-- end: CSS -->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- end: Favicon -->
    
    <style>  
        div.graph  
                {  
                    width: 280px;  
                    height: 200px;  
                }  
        
    </style>

</head>

<body>
   <!-- start: Content -->          
    <div id="content_detail" class="box span12">
    <div class="row-fluid sortable">  
        <div class="box-header" data-original-title>
            <h2><i class="icon-reorder"></i><span class="break"></span>快递单导出</h2>
        </div> 
           
        <div class="box-content">
            <form action="/download/" method="post">
            <button type="submit" class="btn btn-primary"><i class="halflings-icon white bell"></i>导出快递单</button>
            </form>
        </div>
    </div><!--/span-->
    </div><!--/row-->
    
</body>
</html>
