<!DOCTYPE html>
<html>
<head>
    
    <!-- start: Meta -->
    <meta charset="UTF-8">
    <title>快递管理系统</title>
    <meta name="description" content="zjyw">
    <meta name="author" content="cdg">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
     <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- start: CSS -->
    <link id="bootstrap-style" href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/css/style.css" rel="stylesheet">
    <link id="base-style-forms" href="/css/style-forms.css" rel="stylesheet">
    <link id="base-style-responsive" href="/css/style-responsive.css" rel="stylesheet">
    <!-- end: CSS -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/mycookies.js"></script>
    <script src="/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src='/js/jquery.dataTables.min.js'></script>

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- end: Favicon -->
    
    <style>  
        div.graph  
                {  
                    width: 280px;  
                    height: 200px;  
                }  
        .table th, .table td { 
            text-align: center; 
            height:38px;
        }
    </style>  
    <script type="text/javascript">
    function sync_post( url , data ) {
        /*
        同步POST
        同步方式操作ajax，返回值同call_python，为一个字典:
        其中-> ret 0 失败 1 成功
                当ret==1 时，val为ajax返回的json对象
                当ret==0 时，exc为错误内容：null，"timeout", "error", "notmodified" 和 "parsererror"
        用法举例：
            ret = sync_post( "/cx/jgxx/", { "hh": hh} )
            if ( ret.ret ){
                set_value( 'jgmc' , ret.val );
            } else {
                set_status( "获取行名出错：" + ret.exc );
            }
        */
        var retval = { ret: 0 }
        jQuery.ajax( {
            async: false,  //同步 异步为true
            type: 'POST',
            url: url,
            data: data,
            cache: false,
            contentType: "application/x-www-form-urlencoded;charset=utf-8", 
            dataType:"json",
            //成功
            success:function( json ){
                retval.ret = 1
                retval.val = json;
            },
            //错误
            error: function( XMLHttpRequest, textStatus, errorThrown ){
                //更新交易页面框架信息 statusbar
                retval.ret = 0;
                retval.exc = textStatus;
            }
        } );
        return retval;
    }
    function login_out(){
        window.location.href = '/'
        return false;
    }
    //快递信息
    function input_info(){
        rr = sync_post( "/kd_info/" , {} );
        if ( rr.ret ) {
            json = rr.val;
            if(json.xym=='000000'){
                content.innerHTML = json.cont
                return true;
            }else{
                alert(json.xyxx);
                return false;
            }
        } else {
            alert("操作失败，请联系管理员");
            return false;
        }
    }
    //删除
    function del_kdxx(id){
        if ( window.confirm( "确定删除此条信息？" ) ){
            rr = sync_post( "/kdxx_del/" , {"id":id} );
            if ( rr.ret ) {
                json = rr.val;
                if(json.xym=='000000'){
                    alert(json.xyxx);
                    window.location.reload(); 
                    return true;
                }else{
                    alert(json.xyxx);
                    return false;
                }
            } else {
                alert("操作失败，请联系管理员");
                return false;
            }
        }
    }
    //新增
    function kd_add_tz(id, type){
        url = '/add_kdxx_tz/';
        var winOpen =window.showModalDialog(url,window,'dialogHeight:550px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
        if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
    }
    //编辑
    function update_kdxx(id, type, express_number, created_at, express_classification, express_status, sender_name, sender_phone, sender_address, reciver_name, reciver_phone, reciver_address, express_money, express_user_id,shelf_number){
        url = '/update_kdxx/?id='+id +'&type='+type +'&express_number='+express_number +'&created_at='+created_at +'&express_classification='+express_classification+'&express_status='+express_status+'&sender_name='+sender_name+'&sender_phone='+sender_phone+'&sender_address='+sender_address+'&reciver_name='+reciver_name+'&reciver_phone='+reciver_phone+'&reciver_address='+reciver_address+'&express_money='+express_money+'&express_user_id='+express_user_id+'&shelf_number='+shelf_number;
        var winOpen =window.showModalDialog(url,window,'dialogHeight:550px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
        if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
    }

    //用户信息
    function user_info(){
        rr = sync_post( "/user_info/" , {} );
        if ( rr.ret ) {
            json = rr.val;
            if(json.xym=='000000'){
                content.innerHTML = json.cont
                return true;
            }else{
                alert(json.xyxx);
                return false;
            }
        } else {
            alert("操作失败，请联系管理员");
            return false;
        }
    }
    //新增
    function user_add_tz(id, type){
        url = '/add_user_tz/';
        var winOpen =window.showModalDialog(url,window,'dialogHeight:350px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
        if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
    }
    //编辑
    function update_user(id, username, number, phone, performance){
        url = '/update_user/?id='+id +'&username='+username +'&number='+number +'&phone='+phone +'&performance='+performance;
        var winOpen =window.showModalDialog(url,window,'dialogHeight:350px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
        if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
    }
    //删除
    function del_user(id){
        if ( window.confirm( "确定删除此条信息？" ) ){
            rr = sync_post( "/user_del/" , {"id":id} );
            if ( rr.ret ) {
                json = rr.val;
                if(json.xym=='000000'){
                    alert(json.xyxx);
                    window.location.href = window.location.href
                    return true;
                }else{
                    alert(json.xyxx);
                    return false;
                }
            } else {
                alert("操作失败，请联系管理员");
                return false;
            }
        }
    }

    //文件导出
    function file_download_tz(){
        rr = sync_post( "/file_download_tz/" , {} );
        if ( rr.ret ) {
            json = rr.val;
            if(json.xym=='000000'){
                content.innerHTML = json.cont
                return true;
            }else{
                alert(json.xyxx);
                return false;
            }
        } else {
            alert("操作失败，请联系管理员");
            return false;
        }
    }
    </script>
    
    
</head>

<body>
        <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>快递管理系统</span></a>
                                
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> {{username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                     <span>账户设置</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> 账户资料</a></li>
                                <li><a onclick="login_out();"><i class="halflings-icon off"></i> 退出</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->
                
            </div>
        </div>
    </div>
    
    <!-- start: Header -->
    <div class="container-fluid-full">
    <div class="row-fluid">
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a onclick="window.location.href='/main/';"><i class="icon-bar-chart"></i><span class="hidden-tablet">首页</span></a></li>
                    <li>
                        <a class="dropmenu" href="table.html"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 快递管理</span></a>
                        <ul>
                            <li><a class="submenu" onclick="input_info()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 快递管理</span></a></li>
                        </ul>    
                    </li>
                    <li>
                        <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 员工信息管理</span></a>
                        <ul>
                            <li><a class="submenu" onclick="user_info()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 员工信息列表</span></a></li>
                        </ul>    
                    </li>
                    <li>
                        <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 快递单导出</span></a>
                        <ul>
                            <li><a class="submenu" onclick="file_download_tz()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 快递单导出</span></a></li>
                        </ul>    
                    </li>
                </ul>
            </div>
        </div>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">目录</a> 
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>首页</a></li>
            </ul>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                  <thead>
                      <tr>
                          <th>快递单号</th>
                          <th>快递员ID</th>
                          <th>快递费</th>
                          <th>货架编号</th>
                          <th>快递状态</th>
                          <th>快递类型</th>
                          <th>快递种类</th>
                          <th>发件人</th>
                          <th>发件人联系方式</th>
                          <th>发件人地址</th>
                          <th>收件人</th>
                          <th>收件人联系方式</th>
                          <th>收件人地址</th>
                      </tr>
                  </thead>   
                  <tbody>
                    {% for kd in kd_info %}
                    <tr>
                        <td class="center"><h5>{{ kd.express_number }}</td>
                        
                        {% if kd.express_user_id %}
                            <td class="center"><h5>{{ kd.express_user_id }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}
                        
                        {% if kd.express_money %}
                            <td class="center"><h5>{{ kd.express_money }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}
                        
                        {% if kd.shelf_number %}
                            <td class="center"><h5>{{ kd.shelf_number }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        <td class="center-block">
                            <span class="label label-success">
                            {% ifequal kd.express_status "0" %}
                                待发货
                            {% endifequal %}
                            {% ifequal kd.express_status "1" %}
                                在路上
                            {% endifequal %}
                            {% ifequal kd.express_status "2" %}
                                待查收
                            {% endifequal %}
                            {% ifequal kd.express_status "3" %}
                                已查收
                            {% endifequal %}
                            </span>
                        </td>

                        <td class="center-block">
                            <span class="label label-success">
                            {% ifequal kd.type  "1" %}
                                发送快递
                            {% endifequal %}
                            {% ifequal kd.type  "2" %}
                                接收快递
                            {% endifequal %}
                            </span>
                        </td>


                        <td class="center-block">
                            <span class="label label-success">
                            {% ifequal kd.express_classification "0" %}
                                小包
                            {% endifequal %}
                            {% ifequal kd.express_classification "1" %}
                                中包
                            {% endifequal %}
                            {% ifequal kd.express_classification "2" %}
                                大包
                            {% endifequal %}
                            {% ifequal kd.express_classification "3" %}
                                特大包
                            {% endifequal %}
                            </span>
                        </td>

                        {% if kd.sender_name %}
                            <td class="center"><h5>{{ kd.sender_name }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        {% if kd.sender_phone %}
                            <td class="center"><h5>{{ kd.sender_phone }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        {% if kd.sender_address %}
                            <td class="center"><h5>{{ kd.sender_address }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        {% if kd.reciver_name %}
                            <td class="center"><h5>{{ kd.reciver_name }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        {% if kd.reciver_phone %}
                            <td class="center"><h5>{{ kd.reciver_phone }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}

                        {% if kd.reciver_address %}
                            <td class="center"><h5>{{ kd.reciver_address }}</td>
                        {% else %}
                            <td class="center"><h5>--</td>
                        {% endif%}
                        
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <!-- start: JavaScript-->

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src='/js/fullcalendar.min.js'></script>
    <script src='/js/jquery.dataTables.min.js'></script>
    <script src="/js/excanvas.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.pie.js"></script>
    <script src="/js/jquery.flot.stack.js"></script>
    <script src="/js/jquery.flot.resize.min.js"></script>
    <script src="/js/jquery.chosen.min.js"></script>
    <script src="/js/jquery.uniform.min.js"></script>
    <script src="/js/jquery.cleditor.min.js"></script>
    <script src="/js/jquery.noty.js"></script>
    <script src="/js/jquery.elfinder.min.js"></script>
    <script src="/js/jquery.raty.min.js"></script>
    <script src="/js/jquery.iphone.toggle.js"></script>
    <script src="/js/jquery.uploadify-3.1.min.js"></script>
    <script src="/js/jquery.gritter.min.js"></script>
    <script src="/js/jquery.imagesloaded.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/jquery.knob.modified.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/retina.js"></script>
    <script src="/js/custom.js"></script>
    <!-- end: JavaScript-->
    
</body>
</html>
