<!DOCTYPE html>
<html>
<head>
    
    <!-- start: Meta -->
    <meta charset="UTF-8">
    <title>快递管理系统</title>
    <meta name="description" content="zjyw">
    <meta name="author" content="cdg">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
     <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- start: CSS -->
    <link id="bootstrap-style" href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/css/style.css" rel="stylesheet">
    <link id="base-style-forms" href="/css/style-forms.css" rel="stylesheet">
    <link id="base-style-responsive" href="/css/style-responsive.css" rel="stylesheet">
    <!-- end: CSS -->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/mycookies.js"></script>
    <script src="/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src='/js/jquery.dataTables.min.js'></script>


   <!-- start: CSS -->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS -->
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="/js/laydate/laydate.js" charset="UTF-8"></script>
    <!--<script src="/js/myjquary.js"></script>-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- end: Favicon -->
    
    <style>  
        div.graph  
                {  
                    width: 280px;  
                    height: 200px;  
                }  
        .table th, .table td { 
            text-align: center; 
            height:38px;
        }
    </style>  
    <script type="text/javascript">
    function sync_post( url , data ) {
        /*
        同步POST
        同步方式操作ajax，返回值同call_python，为一个字典:
        其中-> ret 0 失败 1 成功
                当ret==1 时，val为ajax返回的json对象
                当ret==0 时，exc为错误内容：null，"timeout", "error", "notmodified" 和 "parsererror"
        用法举例：
            ret = sync_post( "/cx/jgxx/", { "hh": hh} )
            if ( ret.ret ){
                set_value( 'jgmc' , ret.val );
            } else {
                set_status( "获取行名出错：" + ret.exc );
            }
        */
        var retval = { ret: 0 }
        jQuery.ajax( {
            async: false,  //同步 异步为true
            type: 'POST',
            url: url,
            data: data,
            cache: false,
            contentType: "application/x-www-form-urlencoded;charset=utf-8", 
            dataType:"json",
            //成功
            success:function( json ){
                retval.ret = 1
                retval.val = json;
            },
            //错误
            error: function( XMLHttpRequest, textStatus, errorThrown ){
                //更新交易页面框架信息 statusbar
                retval.ret = 0;
                retval.exc = textStatus;
            }
        } );
        return retval;
    }
    function login_out(){
        window.location.href = '/'
        return false;
    }
    //快递信息
    function input_info(){
        rr = sync_post( "/kd_info/" , {} );
        if ( rr.ret ) {
            json = rr.val;
            if(json.xym=='000000'){
                content.innerHTML = json.cont
                return true;
            }else{
                alert(json.xyxx);
                return false;
            }
        } else {
            alert("操作失败，请联系管理员");
            return false;
        }
    }
    //删除任务
    function del_kdxx(id){
        if ( window.confirm( "确定删除此条信息？" ) ){
            rr = sync_post( "/kdxx_del/" , {"id":id} );
            if ( rr.ret ) {
                json = rr.val;
                if(json.xym=='000000'){
                    alert(json.xyxx);
                    window.location.href = window.location.href
                    return true;
                }else{
                    alert(json.xyxx);
                    return false;
                }
            } else {
                alert("操作失败，请联系管理员");
                return false;
            }
        }
    }
    //更新快递详情
    function update_kdxx(id){
        rr = sync_post( "/update_kdxx/" , {'id':id} );
        if ( rr.ret ) {
            json = rr.val;
            if(json.xym=='000000'){
                content.innerHTML = json.cont
                return true;
            }else{
                alert(json.xyxx);
                return false;
            }
        } else {
            alert("操作失败，请联系管理员");
            return false;
        }
    }
    //编辑快递信息
        function kd_edit(){
            var id = '{{ id }}';
            var express_number = document.getElementById("express_number");
            var created_at = document.getElementById("created_at");
            var express_classification = document.getElementById("express_classification");
            var express_status = document.getElementById("express_status");
            var sender_name = document.getElementById("sender_name");
            var sender_phone = document.getElementById("sender_phone");
            var sender_address = document.getElementById("sender_address");
            var reciver_name = document.getElementById("reciver_name");
            var reciver_phone = document.getElementById("reciver_phone");
            var reciver_address = document.getElementById("reciver_address");
            var express_money = document.getElementById("express_money");
            var express_user_id = document.getElementById("express_user_id");
            
            if( created_at.value=='null'||created_at.value==''){
                alert("请填写快递日期时间！");
                created_at.focus();
                return false;
            }
            if( express_number.value=='null'||express_number.value==''){
                alert("请填写快递单号！");
                express_number.focus();
                return false;
            }
            if( express_classification.value=='null'||express_classification.value==''){
                alert("请选择快递分类！");
                express_classification.focus();
                return false;
            }
            if( express_status.value=='null'||express_status.value==''){
                alert("请选择快递状态！");
                express_status.focus();
                return false;
            }
            if( sender_name.value=='null'||sender_name.value==''){
                alert("请填写发件人姓名！");
                sender_name.focus();
                return false;
            }
            if( sender_phone.value=='null'||sender_phone.value==''){
                alert("请填写发件人联系方式！");
                sender_phone.focus();
                return false;
            }
            if( sender_address.value=='null'||sender_address.value==''){
                alert("请填写发件人地址！");
                sender_address.focus();
                return false;
            }
            if( reciver_name.value=='null'||reciver_name.value==''){
                alert("请填写收件人姓名！");
                reciver_name.focus();
                return false;
            }
            if( reciver_phone.value=='null'||reciver_phone.value==''){
                alert("请填写收件人联系方式！");
                reciver_phone.focus();
                return false;
            }
            if( reciver_address.value=='null'||reciver_address.value==''){
                alert("请填写收件人地址！");
                reciver_address.focus();
                return false;
            }
            if( express_money.value=='null'||express_money.value==''){
                alert("请填写快递费！");
                express_money.focus();
                return false;
            }
            if( express_user_id.value=='null'||express_user_id.value==''){
                alert("请填写快递员编号！");
                express_user_id.focus();
                return false;
            }
            rr = sync_post( "/kd_edit/" , {"id": id, "express_classification": express_classification.value, "express_user_id": express_user_id.value, "sender_name": sender_name.value, "express_money":express_money.value, "express_number": express_number.value, "express_status": express_status.value, "sender_address": sender_address.value, "reciver_name": reciver_name.value, "sender_phone": sender_phone.value, "reciver_address": reciver_address.value, "shelf_number": shelf_number.value, "reciver_phone": reciver_phone.value, "type": type.value, "created_at": created_at.value } );
            if ( rr.ret ) {
                json = rr.val;
                if(json.xym=='000000'){
                    alert(json.xyxx);
                    window.opener.location.reload(); 
                    window.close();
                    return true;
                }else{
                    alert(json.xyxx);
                    return false;
                }
            } else {
                alert("操作失败，请联系管理员");
                return false;
            }
        }
//    //主机分组
//     function get_zjfz(){
//         rr = sync_post( "/zjfz/" , {} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 content.innerHTML = json.cont
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//     }
//     //保存分组
//     function save_fz(){
//         zj = document.getElementById('zj')
//         zjz = document.getElementById('groupInput')
//         if(zjz.value=="输入或选择"){
//             alert("请输入或选择主机组！");
//             zjz.focus();
//             return false;
//         }
//         if(zj.value==""){
//             alert("请选择主机！");
//             return false;
//         }
//         rr = sync_post( "/save_fz/" , {"zjz":zjz.value, "zj":zj.value} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 alert(json.xyxx);
//                 window.location.href = window.location.href
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//     }

//     //任务信息
//     function get_rwxx(zjip){
//         rr = sync_post( "/rwxx/" , {} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 content.innerHTML = json.cont
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//     }
    
//     //任务定制改变主机组触发的函数
//     function change(zjz){
//       arr = zjz.split("+");
//       zj = '主机'+arr[0].replace('|','、主机');
//       mb = arr[1];
//       document.getElementById('input_ZJ').value = zj;
//       var ss = document.getElementById("select_module");
//       if(mb){
//             for(i=0;i<ss.options.length;i++){
//                  if(ss.options[i].value == mb ){
//                         ss.options[i].selected = true;
//                  }
//             }
//         }
//      }
     
    
//     //告警信息
//     function get_gjxx(){
//         rr = sync_post( "/gjxx/" , {} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 content.innerHTML = json.cont
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//     }
//     //屏蔽告警信息
//     function ping_warn(warn_type){
//         if ( window.confirm( "确定对此类告警信息执行屏蔽？" ) ){
//         rr = sync_post( "/pb_gjxx/" , {"warn_type":warn_type} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 alert(json.xyxx);
//                 get_gjxx();
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//         }
//     }

    
//     //启动任务
//     function task_start(id){
//         if ( window.confirm( "确定运行此任务？" ) ){
//             rr = sync_post( "/task_start/" , {"id":id} );
//             if ( rr.ret ) {
//                 json = rr.val;
//                 if(json.xym=='000000'){
//                     alert(json.xyxx);
//                     window.location.href = window.location.href
//                     return true;
//                 }else{
//                     alert(json.xyxx);
//                     return false;
//                 }
//             } else {
//                 alert("操作失败，请联系管理员");
//                 return false;
//             }
//         }
//     }
//     //暂停任务
//     function task_stop(id){
//         if ( window.confirm( "确定停止此任务？" ) ){
//             rr = sync_post( "/task_stop/" , {"id":id} );
//             if ( rr.ret ) {
//                 json = rr.val;
//                 if(json.xym=='000000'){
//                     alert(json.xyxx);
//                     window.location.href = window.location.href
//                     return true;
//                 }else{
//                     alert(json.xyxx);
//                     return false;
//                 }
//             } else {
//                 alert("操作失败，请联系管理员");
//                 return false;
//             }
//         }
//     }
//     //删除任务
//     function task_del(id){
//         if ( window.confirm( "确定删除此任务？" ) ){
//             rr = sync_post( "/task_del/" , {"id":id} );
//             if ( rr.ret ) {
//                 json = rr.val;
//                 if(json.xym=='000000'){
//                     alert(json.xyxx);
//                     window.location.href = window.location.href
//                     return true;
//                 }else{
//                     alert(json.xyxx);
//                     return false;
//                 }
//             } else {
//                 alert("操作失败，请联系管理员");
//                 return false;
//             }
//         }
//     }
//     //添加主机任务
//     function task_add_tz(){
//         url = '/task_add_tz/';
//         var winOpen =window.showModalDialog(url,window,'dialogHeight:550px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
//         if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
//     }
//     //编辑主机任务
//     function task_edit_tz(id,select_module,circle,start_time,state,rwmc,rwms){
//         //alert(typeof start_time);
//         url = '/task_edit_tz/?circle='+String(circle) +'&start_time='+String(start_time) +'&state='+String(state) +'&select_module='+String(select_module) +'&id='+id+'&rwmc='+String(rwmc)+'&rwms='+String(rwms);
//         var winOpen =window.showModalDialog(url,window,'dialogHeight:550px, dialogLeft:550px, dialogTop:100px, dialogWidth:600px, status:0, edge:sunken'); 
//         if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
//     }

//     function moveOption(e1, e2){
//         try{
//             for(var i=0;i<e1.options.length;i++){
//                 if(e1.options[i].selected){
//                     var e = e1.options[i];
//                     e2.options.add(new Option(e.text, e.value));
//                     e1.remove(i);
//                     i=i-1
//                 }
//             }
//             document.myform.zj.value=getvalue1(document.myform.list2);
//         }
//         catch(e){}
//     }
//     function getvalue1(geto){
//         var allvalue = "";
//         for(var i=0;i<geto.options.length;i++){
//             allvalue +=geto.options[i].value + ",";
//         }
//         return allvalue;
//     }
    
//     function getValue(value,inputId){
//         var obj=document.getElementById('list2');
//         obj.options.length=0;//清空select标签的值
//         var zjz_agent = value.split("+")[0]
//         var zjz_name = value.split("+")[1]
//         var agent_array = value.split("+")[2]
//         document.getElementById(inputId).value=zjz_name;
//         zj = zjz_agent.split('|');
//         document.getElementById('zj').value = zj;
// //        for( var b=0, len = zj.length; b<len; b++ ){
// //            for(var a=0, len = 3;a<len;a++){
// //                alert(zj[b]);
// //                alert(agent_array[a]);
// //                alert(zj[b]==agent_array[a]['agent_id']);
// //                if(zj[b]==agent_array[a]['agent_id']){
// //                    zj[b] = agent_array[a]['agent_id'] +'|'+ agent_array[a]['agent_name']
// //                }
// //            }
// //        }
//         var $sel = $('#list2'); 
//         for(var i=0, len = zj.length;i<len;i++){  
//             $sel.append('<option value="'+zj[i]+'">'+zj[i]+'</option>'); 
//         }
//      }
    
//     //跳转到首页
//     function select_firstpage(){
//         rr = sync_post( "/main/" , {} );
//         if ( rr.ret ) {
//             json = rr.val;
//             if(json.xym=='000000'){
//                 alert(json.xyxx);
//                 window.location.href = window.location.href
//                 return true;
//             }else{
//                 alert(json.xyxx);
//                 return false;
//             }
//         } else {
//             alert("操作失败，请联系管理员");
//             return false;
//         }
//     }
//     function zjxx_checkinfo(task_id){
//         url = '/zjxx_checkinfo/?task_id=' + task_id;
//         var winOpen =window.showModalDialog(url,window,'edge:raised;scroll:0;status:0;help:0;resizable:1;dialogWidth:700px;dialogHeight:750px;dialogLeft:400px, dialogTop:20px;'); 
//         if(!has_showModalDialog) return;//chrome 返回 因为showModalDialog是阻塞的 open不一样;  
//     }
    </script>
    
    
</head>

<body>
        <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>快递管理系统</span></a>
                                
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> xxx
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                     <span>账户设置</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> 账户资料</a></li>
                                <li><a onclick="login_out();"><i class="halflings-icon off"></i> 退出</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->
                
            </div>
        </div>
    </div>
    
    <!-- start: Header -->
    <div class="container-fluid-full">
    <div class="row-fluid">
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a onclick="window.location.href='/main/';"><i class="icon-bar-chart"></i><span class="hidden-tablet">首页</span></a></li>
                    <li>
                        <a class="dropmenu" href="table.html"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 快递管理</span></a>
                        <ul>
                            <li><a class="submenu" onclick="input_info()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 快递发送</span></a></li>
                            <li><a class="submenu" onclick="get_info()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 快递收取录入</span></a></li>
                        </ul>    
                    </li>
                    <li>
                        <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 员工信息管理</span></a>
                        <ul>
                            <li><a class="submenu" onclick="get_rwxx()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 员工信息列表</span></a></li>
                        </ul>    
                    </li>
                    <li>
                        <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 快递单导出</span></a>
                        <ul>
                            <li><a class="submenu" onclick="get_gjxx()"><i class="icon-file-alt"></i><span class="hidden-tablet"> 快递单导出</span></a></li>
                        </ul>    
                    </li>
                </ul>
            </div>
        </div>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">目录</a> 
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>首页</a></li>
            </ul>
            <div class="box-content">
                <h1><i class="icon-bell-alt"></i><span class="break"></span>欢迎进入快递管理系统</h1>
            </div>
        </div>
    </div>
    </div>
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <!-- start: JavaScript-->

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src='/js/fullcalendar.min.js'></script>
    <script src='/js/jquery.dataTables.min.js'></script>
    <script src="/js/excanvas.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.pie.js"></script>
    <script src="/js/jquery.flot.stack.js"></script>
    <script src="/js/jquery.flot.resize.min.js"></script>
    <script src="/js/jquery.chosen.min.js"></script>
    <script src="/js/jquery.uniform.min.js"></script>
    <script src="/js/jquery.cleditor.min.js"></script>
    <script src="/js/jquery.noty.js"></script>
    <script src="/js/jquery.elfinder.min.js"></script>
    <script src="/js/jquery.raty.min.js"></script>
    <script src="/js/jquery.iphone.toggle.js"></script>
    <script src="/js/jquery.uploadify-3.1.min.js"></script>
    <script src="/js/jquery.gritter.min.js"></script>
    <script src="/js/jquery.imagesloaded.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/jquery.knob.modified.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/retina.js"></script>
    <script src="/js/custom.js"></script>
    <!-- end: JavaScript-->
    
</body>
</html>
