<!DOCTYPE html>
<html>
<head>
    
    <!-- start: Meta -->
    <meta charset="UTF-8">
    <title>快递管理系统</title>
    <meta name="description" content="zjyw">
    <meta name="author" content="cdg">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    <!-- start: CSS -->
    <link id="bootstrap-style" href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/css/style-responsive.css" rel="stylesheet">

    <script src="/js/laydate/laydate.js" charset="UTF-8"></script>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- start: CSS -->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS -->
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="/js/laydate/laydate.js" charset="UTF-8"></script>
    <style>  
        div.graph  
                {  
                    width: 280px;  
                    height: 200px;  
                }  
        
    </style>
</head>

<body>
    <div class="row-fluid sortable" id='edit'>
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>编辑信息</h2>
            </div>

            <div class="box-content">
                <div class="form-horizontal">
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">快递单号: </label> &nbsp&nbsp
                        <input  id="express_number" type="text" disabled placeholder="快递单号" value="{{ express_number }}">
                    </div>
                    <div class="control-group success"  id="date1" style="display:block;" >
                        <label class="control-label">快递日期时间:</label>&nbsp&nbsp
                        <input id='created_at' onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{{ created_at }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label">快递种类:</label>&nbsp&nbsp
                          <select id="express_classification">
                            <option value='0'>小包</option>
                            <option value='1'>中包</option>
                            <option value='2'>大包</option>
                            <option value='3'>特大包</option>
                          </select>
                    </div>
                    <div class="control-group success">
                        <label class="control-label">快递状态:</label>&nbsp&nbsp
                          <select id="express_status">
                            <option value='0'>待发货</option>
                            <option value='1'>在路上</option>
                            <option value='2'>待查收</option>
                            <option value='3'>已查收</option>
                          </select>
                    </div>
                    <div class="control-group success">
                        <label class="control-label" >快递类型:</label>&nbsp&nbsp
                          <select id="type">
                            <option value='1'>发送快递</option>
                            <option value='2'>接收快递</option>
                          </select>
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">快递费: </label>&nbsp&nbsp
                        <input  id="express_money" type="text" placeholder="0.00" value="{{ express_money }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">快递员编号: </label>&nbsp&nbsp
                        <input  id="express_user_id" type="text" placeholder="编号" value="{{ express_user_id }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">货架编号: </label>&nbsp&nbsp
                        <input  id="shelf_number" type="text" placeholder="货架编号" value="{{ shelf_number }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">发件人姓名:</label>&nbsp&nbsp
                        <input  id="sender_name" type="text" placeholder="请输入发件人姓名" value="{{ sender_name }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">发件人联系方式: </label>&nbsp&nbsp
                        <input  id="sender_phone" type="text" placeholder="请输入11位手机号" value="{{ sender_phone }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">发件人地址: </label>&nbsp&nbsp
                        <input  id="sender_address" type="text" placeholder="请输入发件人地址" value="{{ sender_address }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">收件人姓名: </label>&nbsp&nbsp
                        <input  id="reciver_name" type="text" placeholder="请输入收件人姓名" value="{{ reciver_name }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">收件人联系方式: </label>&nbsp&nbsp
                        <input  id="reciver_phone" type="text" placeholder="请输入11位手机号" value="{{ reciver_phone }}">
                    </div>
                    <div class="control-group success">
                        <label class="control-label" for="selectError3">收件人地址: </label>&nbsp&nbsp
                        <input  id="reciver_address" type="text" placeholder="请输入收件人地址" value="{{ reciver_address }}">
                    </div>
                    
                    <div class="control-group">
                      <div class="form-actions">
                         <button class="btn btn-primary" onclick="kd_edit();" >确定</button>
                         <button class="btn" onclick= "window.opener.location.reload();window.close();" >取消</button>
                        </div>
                    </div>
            </div>
        </div>
    </div><!--/span-->
    <script type="text/javascript">
        //选中节点的方法，第一个参数为select的id，第二个参数为后台传来的值
        function checkOption(id,value)
           {
            //获得下拉列表的id
            var select = document.getElementById(id);
            //获得下拉列表的所有option
            var options = select.options;
            //循环获得对应的节点
            for(var i=0;i<options.length;i++)
            {
             //获得节点的值和后台传来的值进行比较
             if (options[i].value == value)
             {
              //如果当前节点与后台传来的值一致，则将当前节点设置为选中状态，并跳出循环
              options[i].selected = true;
              break;
             }
            }
        }

        checkOption('express_status','{{express_status}}');
        checkOption('express_classification','{{express_classification}}');
        checkOption('type','{{type}}');
        function sync_post( url , data ) {
            /*
            同步POST
            同步方式操作ajax，返回值同call_python，为一个字典:
            其中-> ret 0 失败 1 成功
                    当ret==1 时，val为ajax返回的json对象
                    当ret==0 时，exc为错误内容：null，"timeout", "error", "notmodified" 和 "parsererror"
            用法举例：
                ret = sync_post( "/cx/jgxx/", { "hh": hh} )
                if ( ret.ret ){
                    set_value( 'jgmc' , ret.val );
                } else {
                    set_status( "获取行名出错：" + ret.exc );
                }
            */
            var retval = { ret: 0 }
            jQuery.ajax( {
                async: false,  //同步 异步为true
                type: 'POST',
                url: url,
                data: data,
                cache: false,
                contentType: "application/x-www-form-urlencoded;charset=utf-8", 
                dataType:"json",
                //成功
                success:function( json ){
                    retval.ret = 1
                    retval.val = json;
                },
                //错误
                error: function( XMLHttpRequest, textStatus, errorThrown ){
                    //更新交易页面框架信息 statusbar
                    retval.ret = 0;
                    retval.exc = textStatus;
                }
            } );
            return retval;
        }
        
        //编辑快递信息
        function kd_edit(){
            var id = '{{ id }}';
            var type = document.getElementById("type");
            var express_number = document.getElementById("express_number");
            var created_at = document.getElementById("created_at");
            var express_classification = document.getElementById("express_classification");
            var express_status = document.getElementById("express_status");
            var sender_name = document.getElementById("sender_name");
            var sender_phone = document.getElementById("sender_phone");
            var sender_address = document.getElementById("sender_address");
            var reciver_name = document.getElementById("reciver_name");
            var reciver_phone = document.getElementById("reciver_phone");
            var reciver_address = document.getElementById("reciver_address");
            var express_money = document.getElementById("express_money");
            var express_user_id = document.getElementById("express_user_id");
            var shelf_number = document.getElementById("shelf_number");
            
            if( created_at.value=='null'||created_at.value==''){
                alert("请填写快递日期时间！");
                created_at.focus();
                return false;
            }
            if( express_number.value=='null'||express_number.value==''){
                alert("请填写快递单号！");
                express_number.focus();
                return false;
            }
            if( shelf_number.value=='null'||shelf_number.value==''){
                alert("请填写货架编号！");
                shelf_number.focus();
                return false;
            }
            if( express_classification.value=='null'||express_classification.value==''){
                alert("请选择快递分类！");
                express_classification.focus();
                return false;
            }
            if( express_status.value=='null'||express_status.value==''){
                alert("请选择快递状态！");
                express_status.focus();
                return false;
            }
            if( sender_name.value=='null'||sender_name.value==''){
                alert("请填写发件人姓名！");
                sender_name.focus();
                return false;
            }
            if( sender_phone.value=='null'||sender_phone.value==''){
                alert("请填写发件人联系方式！");
                sender_phone.focus();
                return false;
            }
            if( sender_address.value=='null'||sender_address.value==''){
                alert("请填写发件人地址！");
                sender_address.focus();
                return false;
            }
            if( reciver_name.value=='null'||reciver_name.value==''){
                alert("请填写收件人姓名！");
                reciver_name.focus();
                return false;
            }
            if( reciver_phone.value=='null'||reciver_phone.value==''){
                alert("请填写收件人联系方式！");
                reciver_phone.focus();
                return false;
            }
            if( reciver_address.value=='null'||reciver_address.value==''){
                alert("请填写收件人地址！");
                reciver_address.focus();
                return false;
            }
            if( express_money.value=='null'||express_money.value==''){
                alert("请填写快递费！");
                express_money.focus();
                return false;
            }
            if( express_user_id.value=='null'||express_user_id.value==''){
                alert("请填写快递员编号！");
                express_user_id.focus();
                return false;
            }
            rr = sync_post( "/kd_edit/" , {"id": id, "express_classification": express_classification.value, "express_user_id": express_user_id.value, "sender_name": sender_name.value, "express_money":express_money.value, "express_number": express_number.value, "express_status": express_status.value, "sender_address": sender_address.value, "reciver_name": reciver_name.value, "sender_phone": sender_phone.value, "reciver_address": reciver_address.value, "shelf_number": shelf_number.value, "reciver_phone": reciver_phone.value, "type": type.value, "created_at": created_at.value } );
            if ( rr.ret ) {
                json = rr.val;
                if(json.xym=='000000'){
                    alert(json.xyxx);
                    window.opener.location.reload(); 
                    window.close();
                    return true;
                }else{
                    alert(json.xyxx);
                    return false;
                }
            } else {
                alert("操作失败，请联系管理员");
                return false;
            }
        }
    </script>
            
</body>
</html>
